torch
torchvision
lightning
omegaconf
einops
lpips
numpy
scipy
scikit-learn
opencv-python
Pillow
pillow-heif
matplotlib
timm
transformers
huggingface-hub>=0.22
gsplat
plyfile
trimesh
tqdm
packaging
wandb
